/*
--- 01 TYPOGRAPHY SYSTEM

    FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    -- Font Weights:
       Default: 400

    -- Line Heights:
    Default: 1


--- 02 COLORS

    Primary: #c70039

  - Tints:#fce6e7
          #f9e6eb
  - Shades: #8b0028
  - Accents:
  - Greys:
  #555
  #333

--- 05 SHADOWS

--- 06 BORDER- RADIUS

--- 07 WHITESPACE

    SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

 */

/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

:root {
  --background-color: #ff9999;
  --background-color1: #d84d74;
  --background-color2: #f9e6eb;
  --background-color3: #ffe0e0;
  --background-color4:#ffebeb ;

  --textColor:#330000
  --colorWhite: #fff;
  --red: #ff9999;
  --iconColor:#4c0000;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
position: relative;
}

header {
  position: fixed;
  width: 100%;
  background-color: var(--red);
  color: var(--color);
  padding: 1rem;
  height: auto;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-a {
  font-size: 3rem;
  font-weight: 400;
  text-decoration: none;
  margin: 10px;
  color: var(--colorWhite);
}

.logo img {
  height: 4.4rem;
  width: 4.4rem;
  border-radius: 100%;
  margin-left: 30px;
}

.nav {
  margin-right: 5rem;
}

section {
  /* min-height: 100vh; */
}

/*-------------------------- COMON ------------------*/
/*
 Or you can set a specific size by applying the 
font-size CSS property on the ion-icon component. 
It's recommended to use pixel sizes that are a 
multiple of 8 (8, 16, 32, 64, etc.) 
*/

.icon {
  font-size: 24px;
  /* color: var(--background-color1); */
}

.bus {
  color:green;
}
.metro {
  color: blue;
}

li {
  list-style: none;
  padding: 2rem;
  font-size: 3rem;
}

.pandal,
.pandal:link,
.pandal:visited {
  text-decoration: none;
  font-size: 2.4rem;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--background-color1);
  word-spacing: 4px;
}

.pandal:hover,
.pandal:active {
  background-color:var(--background-color1);
  color:var(--background-color4);
  box-shadow: 0 5px 5px 5px  #4c00000d ;
  border-radius: 10px;
  padding: 10px;
}

/* --------------SECTION DAY 01 ------------------  */

.day1 {
  padding-top: 6.5rem;
  background-color: var(--background-color4);
  /* height: 100vh; */
}

.day1-div {
  /* padding-top: 20px; */
  display: flex;
  padding: 5rem;
}

.day1-div1 {
  /* background-color: blue; */
  width: 60%;
}

.day1-div2 {
  background-color: white;
  padding: 2% 3% 2% 3%;
  width: 25%;
  border-radius: 10px;
  box-shadow: 0 10px 10px 10px  #4c00000d ;
  position: absolute;
  top: 10rem;
  right: 20px;
  position: fixed;

}
/* --------------SECTION DAY 01 ------------------  */

.day2 {
  background-color: chartreuse;
}

.day3 {
  background-color: darkorange;
}

.day4 {
  background-color: deepskyblue;
}

footer {
  height: 20vh;
}

